{% extends "security/base2.html" %}
{% block content %}
	<h1>This is Admin Raavan</h1>
	<p>welcome to the admin page</p>
	<br>
	<div class="row">
				<div class="col-md-4"><a href="{% url 'profile' %}" class="btn btn-danger btn-lg">Leave Requests</a></div>  
				<div class="col-md-4"><a href="{% url 'profile' %}" class="btn btn-success btn-lg">Schedule Duties</a></div>
				<div class="col-md-4"><a href="{% url 'profile' %}" class="btn btn-primary btn-lg">View Duties</a></div>
	</div>

{% endblock content %}